            
body {
background-image: url(../photos:videos/treebackground.jpg);
background-color:#CCCCCC;
background-position: center;
background-size:cover;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.topnav {
  float: left;
  color:lightgrey;
  font-weight: bold;
  text-align: center;
  padding: 12px 20px;
  font-size: 18px;
  margin-right: 10px;
  border:1px solid grey;
  border-radius:10px;
  
}
.topnav a {
    color:lightslategrey;
    text-decoration:none;
    display:inline;
    padding-right:20px;
}
.topnav a.active {
  background-color:cornflowerblue;
  border-radius:10px;
  color: white;
}
.topnav a:hover {
 color:cornflowerblue !important;
 border-radius:10px;
 font-size:20px;

}
.bio-container {
    font-size: 20px;
    margin-top:150px;
    
}
p {
    float:left;
    width: 50%;
    margin-top:5%;
    margin-left:5%;
    margin-right:5%;
    
}
img {
    float:right;
    width:30%;
    height:auto;
    margin-right:5%;
}

@media only screen and (max-width:640px){
  body {
    width:100%;
    font-size: 14px;
    margin:0;
}
.topnav {
    border: 2px solid gray;
    font-size:20px;
}
.topnav a {
  padding-right:30px;
  
}
p{
  width:80%;
  float:none;
  
}
img {
  width:40%;
  float:right;

}

